#username {
    border-width: 10px;
    border:#080808 solid;
    background-color: #f58020;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
}
body{background-color: rgba(128, 128, 128, 0.24); 
    margin: 1px;
    padding: 2px;
}
#secondcol {
    background-color:#9436d3;
    padding: 10px;
    border-width: 10px;
    border:#f511ea solid;
}
#firstcol{
    background-color:#82e922;
    padding: 10px;
    text-align: center
    border-width: 10px;
    border: #015 solid;
}
#threecol{background-color: #f58020;
    padding: 10px;
    border-width: 10px;
    border:#3511d4 solid;
<<<<<<< HEAD
}
=======
}
>>>>>>> dd3e998cd5e7ee75c7f705ef1f9a42e6d1c15ecf
